@model MVC4Fun.Models.Movie
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<MVC4Fun.Models.Movie> localizerMovie;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

    <h3>@localizerMovie["Are you sure you want to delete this?"]</h3>
<div>
        <h4>@localizerMovie["Delete"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Film)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Film)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MovieID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">@localizerMovie["Back to List"]</a>
    </form>
</div>
</body>
</html>
